$mgreen:#009CA8;
$myellow:#FBF796;
$mpink:#EB5F86;
$mblue:#1E5289;
$mlblue:#C3E3E8;

$white:#fff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

$black: #181818;
$black-soft: #737373;
$black-mute: #282828;

$cadetBlue: #5F9EA0;

$divider-light-1: rgba(60, 60, 60, 0.29);
$divider-light-2: rgba(60, 60, 60, 0.12);
$divider-dark-1: rgba(84, 84, 84, 0.65);
$divider-dark-2: rgba(84, 84, 84, 0.48);
