body{
    color: var(--color-text);
    background: var(--color-background);
}

h1{
    font-weight: 500;
    font-size: 2.6rem;
    position: relative;
    color: $mgreen;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}