// 變數需要用#{...}
:root {
    --color-background: #{$white};
    --color-background-soft: #{$white};
    --color-background-mute: #{$white-mute};
    
    --color-border: #{$divider-dark-1};
    --color-border-hover: #{$divider-light-1};
    
    --color-heading: #{$cadetBlue};
    --color-text: #{$cadetBlue};
    
    --section-gap: 160px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #{$black-mute};
        --color-background-soft: #{$black-soft};
        --color-background-mute: #{$black-mute};

        --color-border: #{$divider-dark-2};
        --color-border-hover: #{$divider-dark-1};

        --color-heading: #{$white};
        --color-text: #{$white-soft};
    }
}