@mixin shadowlb($color: $mgreen) {
    border: 3px solid $color;
    box-shadow: -8px 8px 0px $color;
}

//在這邊如果有計算需要加calc
@mixin grid($col, $b: null) {
    @for $i from 1 through $col {
        @if $b==null {
            .col-#{$i} {
                width: calc($i / $col) * 100%;
            }
        }
        @else {
            .col-#{$b}-#{$i} {
                width: calc($i / $col) * 100%;
            }
        }
    }
}