.activity{
    &_container{
        width: 100%;
        padding: 1rem;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    &_card{
        flex-basis: 25%;
        padding: 1rem;
        &_img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 10rem;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
    &_list{}
    &_info{}
}