@import "@/assets/scss/main";
.product {
  input {
    color: var(--color-text);
  }
  &_container {
    width: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
  }
  &_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted var(--color-border);
    flex-basis: 25%;
    padding: 1rem;
    &:hover {
      background: hsla(160, 100%, 37%, 0.2);
    }
    a {
      flex-grow: 1;
      &:hover {
        background: transparent;
      }
    }
    &_img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 10rem;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}
